<div class="notes-table-container">

    <table class="notes-table">

        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

            @for (note of notesList; track note.id) {

            <tr>

                <td>{{ note.id }}</td>

                <td>
                    {{ note.title }}
                </td>

                <td>
                    {{ note.createdAt | date:'medium' }}
                </td>

                <td>
                    {{ note.updatedAt | date:'medium' }}
                </td>

                <td>

                    <button class="button round-button" (click)="editNote(note)">
                      <i class="fa-solid fa-pen-to-square fa-xl"></i>
                    </button>

                    <button class="button round-button" (click)="deleteNote(note.id)">
                        <i class="fa-solid fa-trash fa-xl"></i>
                    </button>
                </td>

            </tr>

            }

            @if (notesList.length === 0) {

            <tr>
                <td colspan="6">
                    No notes available.
                </td>
            </tr>

            }

        </tbody>

    </table>

</div>