
<form>
  <div class="row">
    <div class="six columns">
      <label for="exampleTitle">Title</label>
      <input class="u-full-width" type="text" placeholder="Note Title" id="exampleTitle">
    </div>
  </div>
  <label for="exampleMessage">Body</label>
  <textarea class="u-full-width" placeholder="Your note goes here …" id="exampleMessage"></textarea>
  <div>
    <button class="round-button button-primary"><i class="fa-solid fa-check fa-xl"></i></button>
    <button class="round-button"><i class="fa-solid fa-xmark fa-xl"></i></button> 
  </div>
</form>

