<form (ngSubmit)="onSubmit()">
    <div class="row">
    <div class="twelve columns">
      <label for="usernameInput">Username</label>
      <input class="u-full-width" type="text" id="usernameInput" placeholder="Enter your username" [(ngModel)]="name" name="username">
    </div>
  </div>
   <div class="row">
    <div class="twelve columns">
      <label for="passwordInput">Password</label>
      <input class="u-full-width" type="password" id="passwordInput" placeholder="Enter your password" [(ngModel)]="password" name="password">
    </div>
  </div>
  <input class="button-primary" type="submit" value="Submit">
</form>