/* You can add global styles to this file, and also import other style files */
.center-container {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
  height: 100vh;           /* Full screen height */
  width: 100vw;
}

* {
  /* font-family: "Atkinson Hyperlegible Mono", sans-serif; */
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.box-shadow{
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}